* {
    box-sizing: border-box;
    margin: 0;
}

.footer {
    margin-top: 30px;
}

.footer {
    text-align: center;
    background-color: #7D47EF;
    padding-top: 150px;
    padding-bottom: 150px
}

.footerHeader {
    font: poppins;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;

}

.footerPara {
    font: Overpass;
    font-weight: 400;
    font-size: 15px;
    line-height: 18.99px;
}

.footerHeader, .footerPara {
    color: white;
}

.inputForm {

    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    margin-top: 40px;
    width: 400px;
    padding: 20px;
    border-radius: 50px;
    border-color: transparent;
    outline: none;
}

.socials {
    display: flex;
    justify-content: center;
    margin-left: -40px;
}

.socials > img {
    margin-top: 40px;
    margin-left: 40px;

}

.paperPlane  {

    z-index: 10;
    position: absolute;
    margin-top: 40px;
    margin-left: 340px;
    background-color: #7D47EF;
    padding: 10px;
    border-radius: 50%;
    
}