.WhoWeAreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.chatIcon {
    position: absolute;
    left: 450px;
    height: 220px;
    padding: 50px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    background-size: 30%;
    box-shadow: 2px 2px 4px rgb(108, 103, 103);
}

.WhoWeAre {
    color: white;
    text-align: center;
    background-color: #7D47EF;
    border-radius: 19px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 40%;

}

.whoweare-header {
    margin-bottom: 50px;
}

.learnMore {
    padding: 20px;
    border-radius: 50px;
    width: 200px;
    color:#7D47EF;
    outline: none;
    border: transparent;
    font-weight: 400;
    font-size: 21px;

}

@media screen and (max-width: 420px) {

    .WhoWeAreContainer {

        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .chatIcon {
        position: relative;
        height: 130px;
        width: 131px;
        left: 0px;
        top: 65px;
        z-index: 10;
        background-size: 0;
        padding: 10px;
    }

    .chatIcon > img {
        margin-top: 25px;
        margin-left: 23px;
        width: 60%;
    }

    .WhoWeAre {
        width: 370px;
        height: 515px;
    }

    .whoweare-header {

        font-weight: 700;
        line-height: 42px;
        color: #EEEEEE;
    }

    .learnMore {
        
        width: 180px;
        margin-top: 70px;
        background-color: white;
        padding: 20px;
        font-size: 13px;
        font-weight: 600;
        font-style: normal;
        color: #7D47EF;

    }

    
}