.WhoWeAreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.chatIcon {
    position: absolute;
    left: 450px;
    height: 220px;
    padding: 50px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    background-size: 30%;
    box-shadow: 2px 2px 4px rgb(108, 103, 103);
}

.WhoWeAre {
    color: white;
    text-align: center;
    background-color: #7D47EF;
    border-radius: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 40%;

}

.whoweare-header {
    margin-bottom: 50px;
}

.learnMore {
    padding: 20px;
    border-radius: 50px;
    width: 200px;
    color:#7D47EF;
    outline: none;
    border: transparent;
    font-weight: 400;
    font-size: 21px;

}

@media screen and (max-width: 420px) {

    .WhoWeAreContainer {
        background-color: green;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin-left: 15px;
        margin-right: 15px;
        /* width: 100%; */
    }

    .chatIcon {
        position: absolute;
        height: 131px;
        width: 131px;
        top: -30px;
        left: 129px;
        /* padding: 10px; */
        z-index: 10;
        background-size: 0;
        padding: 10px;
    }

    .chatIcon > img {
        margin-top: 25px;
        margin-left: 23px;
        width: 60%;
        /* height: 50%; */

    }

    .WhoWeAre {
        width: 100%;
    }
}